@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply w-full h-full;
}

body {
  @apply bg-zinc-900 text-pink-200;
}

.portal-ring {
  animation: ring 8s linear infinite;
}

@keyframes ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portal-particle {
  animation: particle var(--time) ease-out infinite;
}

@keyframes particle {
  0% {
    transform: scale(1) translateX(var(--x-start)) rotate(var(--rotate));
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(var(--scale-end)) translateX(240px) rotate(-480deg);
    opacity: 0;
  }
}